{%extends '../base.html'%}
{%block 'title'%}
Login
{%endblock%}

{%block 'style'%}
<link rel="stylesheet" href="/static/css/account/login.css">

{%endblock%}

{%block 'content'%}
<form action="" method="post" class="login">
    {%csrf_token%}
    <div class="login-container">
        <div class="row1"><h4>Login</h4></div>
        <div class="row2">
            <h5>USERNAME</h5>
            <input type="text" placeholder="Enter Your Username" name="username">
            <h5>PASSWORD</h3>
            <input type="password" placeholder="Enter Your Password" name="password">
        </div>
        <div class="row3">
            <a href="/forgot">forgotpassword</a>
            <a href="/sign">Signup</a>
        </div>
        <div class="row4">
            {%include '../includes/alert.html'%}
        </div>
    <div class="row5">
    <button type="submit" class="a">login</button>
    </div>
    </div>
</form>
{%endblock%}